<div class="banner">

<%= cl_image_tag @cocktail.photo.key, width: 400 %>

  <div class="container">
    <h1 class="text-center"><%= @cocktail.name %></h1>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-6">
      <p><% @cocktail.doses.each do |dose| %> </p>
      <p><%= "#{dose.description} de " "#{dose.ingredient.name}" %></p>
      <%= link_to "Delete ",
      dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
      <%end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <%= link_to "Add your ingredients" , new_cocktail_dose_path(@cocktail) %>
      <%= link_to "Back to the list", cocktails_path %>
    </div>
  </div>

</div>







